.header__logo{
    color: burlywood;
    display: flex;
    justify-content: center;

};

.create-form__label--name{
    display: flex;
    justify-content: center;
}

.create-form__label--required {
    color: red;
    display: flex;
    justify-content: center;
}
.main__font{
    color:burlywood;
    display: flex;
    justify-content: center;

}