.fashion__content {
    display: flex;
    justify-content: center;
}

.create-form__group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.create-form__center {
    display: flex;
    align-items: center;
    gap: 20px;
}

.create-form__title {
    width: 250px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.create-form__content--name {
    display: flex;
    gap: 10px;
}


.create-form__label--required {
    color: red;
    
}



.create-form__content{
    display: flex;
    gap: 10px;
}

.create-form__content--tel{
    display: flex;
    gap: 10px;
}



.error-message {
    display: block;
    padding-left: 200px;
}

.form__button{
    display: flex;
    justify-content: center;
}