.head__inner{
    background-color: white;
}



.login-form__heading,.form__label--item,.form__input--text{
        display: flex;
            flex-direction: column;
            align-items: center;
}